**Objetivos**

Este capítulo abordará:
1. Como encontrar os tipos de dados das colunas em um dataframe.
2. Conversão entre diversos tipos de dados.
3. Como trabalhar com tipos de dados categorizados.

In [3]:
import pandas as pd
import seaborn as sns

tips = sns.load_dataset("tips")
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [5]:
# convertendo para objetos string
tips["sexs_str"] = tips["sex"].astype(str)
tips["sexs_str"]

0      Female
1        Male
2        Male
3        Male
4      Female
        ...
239      Male
240    Female
241      Male
242      Male
243    Female
Name: sexs_str, Length: 244, dtype: object

In [6]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sexs_str        object
dtype: object

In [7]:
# convertendo para valores numéricos

# converte total_bill em uma string
tips["total_bill"] = tips["total_bill"].astype(str)
tips.dtypes

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sexs_str        object
dtype: object

In [8]:
# converte de volta para um float
tips["total_bill"] = tips["total_bill"].astype(float)
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sexs_str        object
dtype: object

In [9]:
# obtém um subconjunto de tips
tips_sub_miss = tips.head(10)
tips_sub_miss

   total_bill   tip     sex smoker  day    time  size sexs_str
0       16.99  1.01  Female     No  Sun  Dinner     2   Female
1       10.34  1.66    Male     No  Sun  Dinner     3     Male
2       21.01  3.50    Male     No  Sun  Dinner     3     Male
3       23.68  3.31    Male     No  Sun  Dinner     2     Male
4       24.59  3.61  Female     No  Sun  Dinner     4   Female
5       25.29  4.71    Male     No  Sun  Dinner     4     Male
6        8.77  2.00    Male     No  Sun  Dinner     2     Male
7       26.88  3.12    Male     No  Sun  Dinner     4     Male
8       15.04  1.96    Male     No  Sun  Dinner     2     Male
9       14.78  3.23    Male     No  Sun  Dinner     2     Male

In [10]:
# atribui alguns valores ausentes ("missing")
tips_sub_miss.loc[[1, 3, 5, 7], "total_bill"] = "missing"
tips_sub_miss

C:\Users\User\anaconda3\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

  total_bill   tip     sex smoker  day    time  size sexs_str
0      16.99  1.01  Female     No  Sun  Dinner     2   Female
1    missing  1.66    Male     No  Sun  Dinner     3     Male
2      21.01  3.50    Male     No  Sun  Dinner     3     Male
3    missing  3.31    Male     No  Sun  Dinner     2     Male
4      24.59  3.61  Female     No  Sun  Dinner     4   Female
5    missing  4.71    Male     No  Sun  Dinner     4     Male
6       8.77  2.00    Male     No  Sun  Dinner     2     Male
7    missing  3.12    Male     No  Sun  Dinner     4     Male
8      15.04  1.96    Male     No  Sun  Dinner     2     Male
9      14.78  3.23    Male     No  Sun  Dinner     2     Male

In [11]:
tips_sub_miss.dtypes

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sexs_str        object
dtype: object

In [12]:
# isto causará um erro = Pandas não sabe como converter "missing" em um float
tips_sub_miss["total_bill"].astype(float)

ValueError: could not convert string to float: 'missing'

In [13]:
# conversão para categoria
tips["sex"] = tips["sex"].astype("str")
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sexs_str    244 non-null    object
dtypes: category(3), float64(2), int64(1), object(2)
memory usage: 10.8+ KB

In [14]:
tips["sex"] = tips["sex"].astype("category")
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sexs_str    244 non-null    object
dtypes: category(4), float64(2), int64(1), object(1)
memory usage: 9.3+ KB